.about-section{

margin-top: 4rem;
margin: 20px 30px;

}
.about-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    font-weight: 700px;
    font-size: 4rem;
    line-height: 4rem;
}
.about-heading h6{
    margin-top: 1rem;
}

.main-about-section{
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-direction: column;
    margin-top: 1rem;
}

.second-section h3{
font-weight: 700px;
font-size: 3rem;
line-height: 1;

}
.second-section p{
font-size: 1.25rem;
line-height: 1.75rem;
color:gray

}
.last-section{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}


.last-dev{

display: flex;
align-items: center;
column-gap: 1.5rem;

}



@media(min-width:768px){
.main-about-section{
    flex-direction: row;
}

}