
body{
    margin: 0;
    padding: 0;
}


.main-section{

margin-top: 4rem;

}

.main-dev{

    display: flex;
    justify-content: center;
    align-items: center;

}
.main1-dev h5{
text-decoration: underline;
font-size: 2rem;
font-weight: bold;
margin-left: 100px;

}
.main1-dev h6{

    font-weight: bold;
    font-size: 2rem;
    white-space: pre-line;
    margin-top: 1rem;
margin-left: 100px;

}
.button-dev button{
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    margin-left: 4.5rem;
    margin-right: 4.5rem;
}
.button-dev button:hover{
    background-color: red;
    color: white;
}


.images-dev{

    display: flex;
    margin-top: 5rem;
    margin-bottom: 5rem;
    column-gap: 2rem;
    row-gap: 1.5rem;
    gap: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 50px;

}
.image2 h2{
    text-align: center;

}
.images-dev h4{
    color: red;
    text-align: center;
}
.header5{
    text-align: center;
}

.second-image-dev{

display: flex;
margin-top: 1.25rem;
gap: 1.25rem;

}
.images-dev p{
    margin-top: 1rem;
    text-align: center;
}
.images-dev button{
    margin-top: 1rem;
    justify-content: center;
}
.second-image-dev h2{
    margin-left: 4.5rem;
    margin-right: 4.5rem;
}



@media(min-width:768px){
    .images-dev{
        flex-direction: row;
    }
}